:root {
    --primary: #161A1D;
    --secondary: #B1A7A6;
    --hover: #BA181B;
    --text: #f5f3f4;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--text);
    font-family: 'Inter', sans-serif;
}